langchain
langchain-core
langchain-community
langchain-ollama
pypdf
pymupdf
tiktoken
sentence-transformers
faiss-cpu
chromadb
scikit-learn
ragas
langchain-openai
rapidfuzz
google-cloud-storage
langchain-google-community[gcs]
langchain-docstore
